# Comparison of Classification Algorithms in Machine Learning

https://thecleverprogrammer.com/2021/10/02/comparison-of-classification-algorithms-in-machine-learning/

There are many real-life use cases to create your unique machine learning projects. If you’re still struggling to work on an actual use case, find something practical and unique, like a machine learning project where you’ll show a comparison of some of the classification algorithms in machine learning.

## Comparison of Classification Algorithms

In machine learning, classification means training a model to specify which category an entry belongs to. There are so many classification algorithms in machine learning, so if you can show a detailed comparison of classification algorithms in machine learning, it will become an amazing and unique machine learning project as a beginner. For this task, you must first choose a classification-based problem statement and determine all those classification algorithms that may be useful for your problem. Next, you need to train classification models and show a comparison based on their performance.

The performance of all classification algorithms will depend on the problem you are working on. So let’s start this task by importing the necessary Python libraries, a dataset based on the problem of classification, and some of the popular classification algorithms:

In [6]:
import numpy
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import classification_report
from sklearn.svm import SVC

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/social.csv")

In [3]:
data.tail()

     Age  EstimatedSalary  Purchased
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [4]:
X = np.array(data[["Age", "EstimatedSalary"]])
y = np.array(data[["Purchased"]])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [7]:
decisiontree = DecisionTreeClassifier()
logisticregression = LogisticRegression()
knearestclassifier = KNeighborsClassifier()
svm_classifier = SVC()
bernoulli_naiveBayes = BernoulliNB()
passiveAggressive = PassiveAggressiveClassifier()

knearestclassifier.fit(X_train, y_train)
decisiontree.fit(X_train, y_train)
logisticregression.fit(X_train, y_train)
passiveAggressive.fit(X_train, y_train)

data1 = {"Classification Algorithms": ["KNN Classifier", "Decision Tree Classifier", 
                                       "Logistic Regression", "Passive Aggressive Classifier"],
      "Score": [knearestclassifier.score(X, y), decisiontree.score(X, y), 
                logisticregression.score(X, y), passiveAggressive.score(X,y) ]}

C:\Users\Huang\.conda\envs\ADS2022\lib\site-packages\sklearn\neighbors\_classification.py:207: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huang\.conda\envs\ADS2022\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Huang\.conda\envs\ADS2022\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [8]:
score = pd.DataFrame(data1)
score

       Classification Algorithms   Score
0                 KNN Classifier  0.8750
1       Decision Tree Classifier  0.9800
2            Logistic Regression  0.6425
3  Passive Aggressive Classifier  0.6425